/* General Styles */
body {
  line-height: 1.5;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 900;
  padding: 4%;
}

.orange {
  color: #fd5f00;
}

.white {
  color: #fff;
}

.arrow {
  font-size: 1.5rem;
  padding-bottom: 2%;
}

.black-pearl{
  background-color: rgb(15, 27, 39);
  background-color: rgba(15, 27, 39, .86);
}

.col-mid-6 {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/* Highlighting */
::-moz-selection {
  /* Code for Firefox */
  color: #05004e;
  background: #99badd;
}

::selection {
  color: #05004e;
  background: #99badd;
}

/* Navbar Section */
.logo {
  height: 75px;
  width: 75px;
}

/* About Me Section */
#about-me-section {
  position: relative;
  height: 90vh;
}

.background-image-opaque {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("images/charlotte.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.about-me-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.highlight {
  background-color: rgb(57, 62, 70);
  background-color: rgba(57, 62, 70, .75);
  margin: 1px;
  line-height: 1.5rem;
  padding: .25rem;
}

.absolute-arrow {
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
}

.name {
  font-weight: 900;
}

.about-me-p {
  line-height: 2;
}

.heart {
  display: inline-block;
  font-size: .9rem;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  width: 1.5rem;
}

/* Skills Section */
.skills-text {
  padding-bottom: 4%;
}

.fa-css3-alt {
  color: #408ab4;
}

.fa-js-square {
  color: #fffa67;
}

.fa-dollar-sign {
  color: #05004e;
}

.fa-node-js {
  color: #729d39;
}

.fa-python {
  color: #074684;
}

.fa-database {
  color: #448ef6;
}

.fa-running {
  color: #c70039;
}

.bootstrap-icon {
  height: 1.4rem;
  width: 1.5rem;
}

/* Experience */
#experience-section {
  position: relative;
  height: 62vh;
}

.experience-background-image {
  background-image: url("images/coding.jpg");
}

.background-color {
  position: absolute;
  width: 100%;
  height: 100%;
}

thead {
  background-color: rgb(15, 27, 39);
}

.experience-table {
  margin-bottom: 2%;
  position: relative;
  z-index: 2;
}

.experience-header {
  padding: 2%;
  margin-top: 1%;
}

/* Card Section */
.card {
  margin: 4% auto;
}

.btn {
  background-color: #fd5f00;
  font-weight: 700;
}

.btn:hover {
  background-color: #ff8e4b;
}

/* Carousel Section */
.carousel {
  padding: 4% 10%;
}

/* Footer Section */
.social {
  color: rgb(15, 27, 39);
  color: rgba(15, 27, 39, .86);
  font-size: 3rem;
  margin: 0 2rem 2rem;
}

.social:hover {
  color: #5b6575;
}

.footer {
  color: rgb(15, 27, 39);
  color: rgba(15, 27, 39, .86);
  padding: 1rem;
}

/* Mobile Friendly Styles */
@media (max-width: 992px) {
  .trunc {
    display: none;
  }

  .quote {
    font-size: 1rem;
  }

  .social {
    font-size: 2.5rem;
    margin: 0 1rem 1rem;
  }
}

@media (max-width: 517px) {
  #experience-section {
    height: 42rem;
  }
}

@media (max-width: 1366px) and (orientation: landscape){
  #experience-section {
    height: 34rem;
  }
  h1{
    font-size: 2.1rem;
  }
}

@media (min-width: 517px) and (max-width: 1024px){
  #experience-section {
    height: 33rem;
  }
}

@media (max-width: 321px){
  #experience-section {
    height: 44rem;
  }
}
